Source: containernetworking-podman-machine
Section: devel
Priority: optional
Standards-Version: 4.5.0
Maintainer: Wong Hoi Sing Edison <hswong3i@pantarei-design.com>
Homepage: https://github.com/containers/dnsname/tags
Vcs-Browser: https://github.com/alvistack/containers-dnsname
Vcs-Git: https://github.com/alvistack/containers-dnsname.git
Build-Depends:
 debhelper,
 debhelper-compat (= 10),
 golang-1.23,

Package: containernetworking-podman-machine
Architecture: amd64
Description: CNI plugin to provide port information for podman-machine
 This plugin collects the port information of the container and sends
 information to a server on the host operating system. The information is
 used by the server to open and close port mappings on the host. It is
 only meant to be used in a podman-machine virtual machine.
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 containernetworking-plugins,
 podman,
 podman-gvproxy,
